@{
    ViewData["Title"] = "Home Page";
}



<!-- Sidebar  -->
<nav id="sidebar" class="col-lg-3">
    <div class="sidebar-header">
        <h1>Covadis</h1>
        <img id="logo" src="~/images/logo.png" />
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Individual sites/API's
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Axure</a>
                </li>
                <li>
                    <a href="#">API</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Add Website/API
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Add Website</a>
                </li>
                <li>
                    <a href="#">Add API</a>
                </li>
            </ul>
        </li>
    </ul>

</nav>
<!-- Page Content -->
<div id="content" class="col-lg-9">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

            <div class="container vertical rounded">
                <h2>Vertical, Rounded</h2>
                <div class="progress-bar">
                    <div class="progress-track">
                        <div class="progress-fill">
                            <span>100%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-bar">
                    <div class="progress-track">
                        <div class="progress-fill">
                            <span>75%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-bar">
                    <div class="progress-track">
                        <div class="progress-fill">
                            <span>60%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-bar">
                    <div class="progress-track">
                        <div class="progress-fill">
                            <span>20%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-bar">
                    <div class="progress-track">
                        <div class="progress-fill">
                            <span>34%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-bar">
                    <div class="progress-track">
                        <div class="progress-fill">
                            <span>82%</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </nav>


</div>


